* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

.field-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
	/* margin: 100px auto 0; */
  padding: 10px;
  width: 430px;
  border-radius: 10px;
	background-color: #eee;
}

.row {
	display: flex;
	/* justify-content: space-between; */
	height: 100px;
}

.row:not(:last-child) {
	margin-bottom: 10px;
}

.hole {
	width: 100px;
	height: 100px;
	background-color: #ddd;
	border-radius: 50%;
}

.hole:not(:last-child) {
  margin-right: 10px;
}

.goblin-image {
	width: 100%;
}

/* @media (max-width: 960px) {
  .field {
    width: 75vmin;
    height: 75vmin;
  }
}

@media (min-width: 961px) {
  
} */
